# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea/
.idea/**
.idea/workspace.xml
.idea/sonarlint/issuestore/index.pb
/.idea/
/.idea/sonarlint/issuestore/e/e/eeb2e0b41d8007cbc3acfd7e81094f45b8d00631
