.dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "header header" "menu content";
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%; }

.dashboard .header {
  grid-area: header;
  color: darkblue; }

.dashboard .menu {
  grid-area: menu; }

.dashboard .menu li {
  text-align: center; }

.dashboard .content {
  grid-area: content; }

.dashboard .content .panel {
  margin: 0px; }

.dashboard > * {
  padding: 15px; }

.bg-dark {
  background-color: #343a40 !important; }
