.dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "header header" "menu content";
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 90%;

  .header {
    grid-area: header;
    color: darkblue;
  }
  .menu {
    grid-area: menu;
    padding-left: 15px;
    li {
      text-align: center;
    }
  }
  .content {
    grid-area: content;
    .panel {
      margin: 0px;
    }
  }
  > * {
    padding: 15px;
  }
}

.bg-dark {
  background-color: #343a40 !important;
}